<%- include ../../partials/header.ejs %>
    <%- include ../../partials/navbar.ejs %>
        <%- include ../../partials/sidebar.ejs %>
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Nominal</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/voucher">Voucher</a></li>
                                    <li class="breadcrumb-item active">Change</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Form Change Voucher
                                            <%=voucher.name %>
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <form action="/voucher/edit/<%= voucher._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="name">Game Name</label>
                                                <input type="text" name="name" value="<%= voucher.name%>" class="form-control" id="name" placeholder="input Game Name">
                                            </div>
                                            <div class="form-group">
                                                <label>Category</label>
                                                <select class="form-control select2" style="width: 100%;" name="category" required>
                                                  <option selected="selected">Choose Category</option>
                                                  <% category.forEach(category =>{%>
                                                    <option value="<%=category._id%>>"
                                                    <% if (Category._id.toString()===voucher?.category?._id.toString())  {%>
                                                        Selected
                                                    <%=}%>
                                                            >
                                                        <%=category.name%></option>
                                                  <% })%>
                                                 
                                                  
                                                </select>
                                            </div>


                                            <div class="form-group">
                                                <label>Nominal</label>
                                                <div class="select2-purple">
                                                    <select class="form-control select2" multiple="multiple" data-placeholder="choose nominal" style="width: 100%;" name="nominals" required>
                                                 
                                                  <% nominal.forEach(nominal =>{%
                                                    <% voucher.nominals.forEach(voucherNominal =>{ %>
                                                        <% if(nominal._id.toString()===voucherNominal._id.toString(){ %>
                                                            Selected
                                                        <%})%>

                                                        
                                                    <%})%>
                                                    >
                                                    <option value="<%=nominal._id%>"><%=nominal.coinName%><%=nominal.coinQuantity%></option>
                                                  <% })%>
                                                </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="image">Picture</label>
                                                    <input type="file" name="image" class="form-control" id="image" placeholder="input Image">
                                                    <br>
                                                    <img src="" id="perview" alt="test" src="http://localhost:3000/uploads/<%=voucher.thumbnail%>">
                                                </div>

                                            </div>

                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                    </form>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
                </div>

                <%- include ../../partials/footer.ejs %>
                    <%- include ../../partials/js.ejs %>



                        </script>